html, body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	text-align: center;
	
}

/*----для прибиваня футера*/
.wrapper:after {
	content: "";
	display: block;
	height: 65px; /*-----высота футера-----*/
}

.container  {
	width: 100%; /*---ширина сайта*/
	margin: auto;
}

.footer {
	
	height: 65px;/*------размер футера-------*/
	background: #394458;/*-------цвет-------------*/
	margin-top:-65px; 
	width: 100%;	/*-----отрицательное число от размера футера --------*/
	

		.footer_text {
		color: #fff;
		text-align: center;
		font-size: 16px;
		line-height: 65px;

		}
}

.heder_title {
	font-size: 2.5em;
	color: #394458;
	margin-top: 15px;
}

.heder_title_small {
	color: #a9a0a9;
	margin-top: 15px;
}

.icon {
	margin-top: 35px;

}

.questions_viber {
	padding-top: 15px;
	padding-bottom: 20px;
	margin-top: 35px;
	margin-bottom: 20px;
	background: #10ba6c;
	color: #fff;
	font-size:20px;
}



.phone_number {
	font-size: 22px;
	font-weight: bold;

}


.underlining {
	display: inline-block;
	

hr {
    border: none; /* Убираем границу */
    background-color: #ffdb4d;; /* Цвет линии */
    color: #ffdb4d;; /* Цвет линии для IE6-7 */
    height: 3px;  /* Толщина линии */
    width: 70px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
   }
 }

.conteiners_text_icon {
 

 	.conteiners_icon {

 	
 	width: 5%;
 	height: 5%;
 		
 		ul{
 			li{
 				float: left;
 			}
 		}
 }
 
 
 	
    
    
  
         
 }