@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  text-align: center; }

/*----для прибиваня футера*/
.wrapper:after {
  content: "";
  display: block;
  height: 65px;
  /*-----высота футера-----*/ }

.container {
  width: 100%;
  /*---ширина сайта*/
  margin: auto; }

.footer {
  height: 65px;
  /*------размер футера-------*/
  background: #394458;
  /*-------цвет-------------*/
  margin-top: -65px;
  width: 100%;
  /*-----отрицательное число от размера футера --------*/ }
  .footer .footer_text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 65px; }

.heder_title {
  font-size: 2.5em;
  color: #394458;
  margin-top: 15px; }

.heder_title_small {
  color: #a9a0a9;
  margin-top: 15px; }

.icon {
  margin-top: 35px; }

.questions_viber {
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 35px;
  background: #10ba6c;
  color: #fff;
  font-size: 20px; }

.heder_title_two {
  padding-top: 2em; }

.underlining {
  display: inline-block; }
  .underlining hr {
    border: none;
    /* Убираем границу */
    background-color: #ffdb4d;
    /* Цвет линии */
    color: #ffdb4d;
    /* Цвет линии для IE6-7 */
    height: 3px;
    /* Толщина линии */
    width: 70px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center; }

.conteiners_text_icon {
  padding: 0 10% 0.1em 10%; }
  .conteiners_text_icon .inline_items {
    display: inline-block;
    width: 14%;
    margin: 2% 5%; }

.underlining_two {
  display: inline-block; }
  .underlining_two hr {
    border: none;
    /* Убираем границу */
    background-color: #ffdb4d;
    /* Цвет линии */
    color: #ffdb4d;
    /* Цвет линии для IE6-7 */
    height: 3px;
    /* Толщина линии */
    width: 1200px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center; }

.small_two {
  padding-bottom: 2em;
  color: #a9a0a9; }

.back_col {
  background: #f7f7f7; }

.title_three {
  font-size: 2.5em;
  padding-top: 1em; }

.undirlingi_three {
  display: inline-block; }
  .undirlingi_three hr {
    border: none;
    /* Убираем границу */
    background-color: #ffdb4d;
    /* Цвет линии */
    color: #ffdb4d;
    /* Цвет линии для IE6-7 */
    height: 3px;
    /* Толщина линии */
    width: 70px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center; }

.ready-made {
  padding: 1em; }

.slide {
  display: inline-block;
  width: 30%;
  display: relative;
  vertical-align: top; }
  .slide .slide_one {
    width: 50%; }
  .slide .slide_two {
    width: 70%; }
  .slide .slide_three {
    width: 70%; }

.qwe {
  font-weight: bold;
  padding: 0.5em; }

.qwer {
  color: #a9a0a9; }

.tittle_big p {
  font-size: 3em; }

.undirlingi_foth {
  display: inline-block; }
  .undirlingi_foth hr {
    border: none;
    /* Убираем границу */
    background-color: #ffdb4d;
    /* Цвет линии */
    color: #ffdb4d;
    /* Цвет линии для IE6-7 */
    height: 3px;
    /* Толщина линии */
    width: 70px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center; }

  g path {
    fill: #00a680;
  }
.inline_items .wrapper1 {
  width: 50%;
  padding-left: 25%;
}
